*{
	margin: 0;
	padding: 0;
	list-style: none;
	color: #000000;
}
a{
	text-decoration: none;
}
html{
	font-size=100px;
}
i{
	font-style:normal;
}	
.ding{
	width: 100%;
	height: 1.1rem;
	overflow: hidden;
}
.ding .dl{
	width: 2.67rem;
	height: 0.61rem;
	margin-left: 3.31rem;
	margin-top: 0.3rem;
}
.ding .dl img{
	display: block;
	width: 100%;
	height: 100%;
}
.top{
	width: 100%;
	height: 0.5rem;background: #000000;
	display: flex;
	justify-content:center;
}
.top .z{
	width: 1.05rem;
	height: auto;
	margin-left: 0.4rem;
}
.top .z span{
	display: block;
	font-size: 0.2rem;
	text-align: center;
	line-height: 0.5rem;
	color: white;
}
.top .zl{
	width: 1.05rem;
	height: auto;
	background: white;
}
.top .zl span{
	display: block;
	font-size: 0.2rem;
	text-align: center;
	line-height: 0.5rem;
	color:#000000;
}
.tu{
	width: 100%;
	height: auto;
}
.tu img{
	display: block;
	width: 100%;
	height: 100%;
}
.cheng{
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
}
.cheng .cen{
	width: 10rem;
	height: 9.45rem;
	margin: auto;
	display: flex;
	flex-direction: column;
}
.cheng .cen .cc{
	width: 100%;
	height: 0.35rem;
	margin-top: 0.1rem;
}
.cheng .cen .cc p{
	display: block;
	font-size: 0.24rem;
}
.cheng .cen .ce{
	width: 100%;
	height: 2.5rem;
	display: flex;
	flex-direction: column;
}
.cheng .cen .ce .ee{
	width: 100%;
	height: 1.86rem;
	display: flex;
	justify-content: space-around;
}
.cheng .cen .ce .cce{
	width: 2.35rem;
	height: 1.86rem;
}
.cheng .cen .ce .cce img{
	display: block;
	width: 100%;
	height: 100%;
}
.cheng .cen .ce .zi{
	width: 100%;
	height: 0.2rem;
	margin-top: 0.2rem;
	display:flex;
	justify-content: space-around;
}
.cheng .cen .ce .zi .zz{
	width: 2.35rem;
	height: 100%;
}
.cheng .cen .ce .zi .zz p{
	display: block;
	font-size: 0.2rem;
	text-align: center;
}
.left{
	width: 100%;
	height: 1.2rem;
	background: #000000;
}
.left .le{
	width: 10rem;
	height: 100%;
	margin: auto;
	display: flex;
	flex-direction: column;
}
.left .le .e{
	width: 100%;
	height: 0.26rem;
	margin-top: 0.1rem;
	display: flex;
	justify-content: space-between;
}
.left .le .e span{
	display: block;
	font-size: 0.14rem;
	color: #CCCCCC;
}
.left .le .el{
	width: 4rem;
	height: 0.26rem;
	display: flex;
	flex-direction: row-reverse;
}
.left .le .el .eel{
	width: 0.8rem;
	height: 100%;
	border-right: 0.02rem solid #cccccc;
}
.left .le .el .eel span{
	display: block;
	font-size: 0.14rem;
	text-align: center;
	line-height: 0.26rem;
	color: #CCCCCC;
}
.left .le .el .eell{
	width: 0.8rem;
	height: 100%;
}
.left .le .el .eell span{
	display: block;
	font-size: 0.14rem;
	text-align: center;
	line-height: 0.26rem;
	color: #CCCCCC;
}
.left .ft{
	width: 100%;
	height: 0.26rem;
	margin-top: 0.1rem;
	display: flex;
	justify-content: space-between;
}
.left .ft span{
	display: block;
	font-size: 0.14rem;
	text-align: center;
	line-height: 0.26rem;
	color: #CCCCCC;
}
.left .ft .ftt{
	width: 4rem;
	height: 0.26rem;
	display: flex;
	flex-direction: row-reverse;
}
.left .ft .ftt span{
	display: block;
	font-size: 0.14rem;
	text-align: center;
	line-height: 0.26rem;
	color: #CCCCCC;
	margin-right: 0.1rem;
}
.left .fl{
	width: 100%;
	height: 0.26rem;
	margin-top: 0.1rem;
	display: flex;
	justify-content: space-between;
}
.left .fl span{
	display: block;
	font-size: 0.14rem;
	text-align: center;
	line-height: 0.26rem;
	color: #CCCCCC;
}
.left .fl .fll{
	width: 4rem;
	height: 0.26rem;
	display: flex;
	flex-direction: row-reverse;
}
.left .fl .fll .ll{
	width: 0.8rem;
	height: 100%;
	border-right: 0.02rem solid #cccccc;
}
.left .fl .fll .ll span{
	display: block;
	font-size: 0.14rem;
	text-align: center;
	line-height: 0.26rem;
	color: #CCCCCC;
}
.left .fl .fll .lll{
	width: 0.8rem;
	height: 100%;
}
.left .fl .fll .lll span{
	display: block;
	font-size: 0.14rem;
	text-align: center;
	line-height: 0.26rem;
	color: #CCCCCC;
}